<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   
   <form action="/action_page.php" target="_blank" method="POST">
  Team name:
    <input type="text" name="name" value="">
  Coach:
    <input type="text" name="coach" value="">
  Point Guard:
    <input type="text" name="pg" value="">
  Shooting Guard:
    <input type="text" name="sg" value="">
  Small Forward:
    <input type="text" name="sf" value="">
  Power Forward:
    <input type="text" name="pf" value="">
  Center:
    <input type="text" name="c" value="">

  <input type="submit" value="Submit">
</form>
   
   
   
   
   
   
 </body>
</html>


